@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  border-radius: 0;
}

a {
  color: #11337d;
  -webkit-transition: .3s;
          transition: .3s;
}

a:hover {
  color: #128043;
}

a.skip-link {
  display: none;
}

.main-navigation ul li a {
  color: #11337d;
}

.main-navigation ul li a:hover {
  color: #128043;
}

.site-header ul.menu li.current-menu-item > a {
  color: #128043;
}

.user-btns-group {
  display: none;
}

@media (min-width: 768px) {
  .main-navigation ul.menu, .main-navigation ul.nav-menu {
    text-align: center;
  }
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a,
  .site-header-cart .cart-contents {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .woocommerce-active .site-header .main-navigation {
    width: 100%;
    float: none;
  }
  .menu-item-has-children:hover:before {
    display: block;
    content: '';
    width: 60px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 0;
    background: url("./images/icon-triangle.svg") no-repeat center;
    z-index: 400;
  }
  .main-navigation ul.menu ul.sub-menu {
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 300;
  }
  .main-navigation ul.menu ul.sub-menu > li {
    background: #fff;
  }
  .main-navigation ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    padding: 1em 1.2em;
  }
  .main-navigation ul.nav-menu ul.sub-menu > li > a {
    padding: 1em 0.8em;
    margin: 0 0.6em;
    border-bottom: 1px solid #b5b6b6;
  }
  .main-navigation ul.nav-menu ul.sub-menu > li:last-child > a {
    border-bottom: none;
  }
  .main-navigation ul.menu ul a:hover:hover, .main-navigation ul.menu ul li:hover > a:hover, .main-navigation ul.nav-menu ul a:hover:hover, .main-navigation ul.nav-menu ul li:hover > a:hover {
    background: transparent;
    color: #128043;
  }
  .main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.nav-menu > li.menu-item-has-children > a:after, .main-navigation ul.nav-menu > li.page_item_has_children > a:after {
    display: none;
  }
  .site-header .site-branding {
    width: 62%;
    margin: 0;
  }
  .site-header-cart .widget_shopping_cart {
    display: none !important;
    left: -999px;
  }
  .user-btns-group {
    display: inline-block;
    margin-left: 2%;
  }
  .user-btns-group, .site-search {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .site-header .site-branding {
    width: 67%;
  }
}

.woocommerce-active .site-header .site-header-cart {
  width: auto;
  position: relative;
}

@media (max-width: 767px) {
  .woocommerce-active .site-header .site-header-cart {
    float: right;
  }
}

.site-header-cart .cart-contents:after {
  background: url("./images/icon-cart.svg");
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
}

.site-header-cart .cart-contents .amount {
  display: none;
}

.site-header-cart .cart-contents .count {
  background: #128043;
  color: #fff;
  opacity: 1;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  position: absolute;
  right: -10px;
  top: 10px;
}

@media (max-width: 767px) {
  .site-header-cart .cart-contents .count {
    top: -5px;
  }
}

@media (max-width: 767px) {
  .site-header-cart .cart-contents {
    display: block;
  }
}

.site-header {
  border: none;
}

@media (min-width: 768px) {
  .site-header {
    padding-top: 1.2em;
  }
}

.storefront-hamburger-menu-active .main-navigation .handheld-navigation {
  border: none;
}

@media (max-width: 767px) {
  .storefront-hamburger-menu-active .main-navigation .handheld-navigation > ul {
    margin-top: 0;
  }
}

.site-branding {
  padding-bottom: 1.5em;
}

.storefront-primary-navigation {
  margin-top: 1em;
  margin-bottom: -1px;
}

@media (min-width: 768px) {
  .storefront-primary-navigation {
    border-bottom: 3px solid #11337d;
    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.1);
  }
}

input[type=search],
input[type=search]:focus,
.site-search .widget_product_search form input[type=search],
.aws-container .aws-search-field {
  background: transparent;
  border: 1px solid #11337d;
  box-shadow: none;
  padding: 6px;
  border-radius: 3px;
}

input[type=search]::-webkit-input-placeholder,
input[type=search]:focus::-webkit-input-placeholder,
.site-search .widget_product_search form input[type=search]::-webkit-input-placeholder,
.aws-container .aws-search-field::-webkit-input-placeholder {
  color: #fff;
}

input[type=search]::-moz-placeholder,
input[type=search]:focus::-moz-placeholder,
.site-search .widget_product_search form input[type=search]::-moz-placeholder,
.aws-container .aws-search-field::-moz-placeholder {
  color: #fff;
}

input[type=search]:-ms-input-placeholder,
input[type=search]:focus:-ms-input-placeholder,
.site-search .widget_product_search form input[type=search]:-ms-input-placeholder,
.aws-container .aws-search-field:-ms-input-placeholder {
  color: #fff;
}

input[type=search]::placeholder,
input[type=search]:focus::placeholder,
.site-search .widget_product_search form input[type=search]::placeholder,
.aws-container .aws-search-field::placeholder {
  color: #fff;
}

@media (min-width: 768px) {
  .woocommerce-active .site-header .site-search {
    float: left;
    width: 16%;
  }
}

.site-search .widget_product_search form:before,
.aws-container .aws-search-form:before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: inherit;
  right: .6em;
  background: url("./images/icon-search.svg");
  content: '';
  width: 16px;
  height: 15px;
  display: inline-block;
  position: absolute;
}

.aws-container .aws-search-form {
  position: relative;
}

.aws-container .aws-search-field {
  border-radius: 3px !important;
  padding: 2px 6px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .aws-container .aws-search-field {
    width: 200px;
  }
}

.aws-container .aws-search-field::-webkit-input-placeholder {
  color: #11337d;
  letter-spacing: 3px;
  font-size: 13px;
}

.aws-container .aws-search-field::-moz-placeholder {
  color: #11337d;
  letter-spacing: 3px;
  font-size: 13px;
}

.aws-container .aws-search-field:-ms-input-placeholder {
  color: #11337d;
  letter-spacing: 3px;
  font-size: 13px;
}

.aws-container .aws-search-field::placeholder {
  color: #11337d;
  letter-spacing: 3px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .woocommerce-active .site-branding {
    float: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0;
  }
  .site-header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .site-header .custom-logo-link img {
    max-width: 100px;
  }
}

.storefront-handheld-footer-bar {
  display: none;
}

button.menu-toggle {
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 0;
  background: url("./images/icon-nav-mobile.svg") no-repeat center #11337d;
  float: left;
}

button.menu-toggle > span {
  display: none;
}

button.menu-toggle:before, button.menu-toggle:after {
  display: none;
}

button.menu-toggle:hover {
  background: url("./images/icon-nav-mobile.svg") no-repeat center #11337d;
}

.main-navigation.toggled .handheld-navigation {
  padding-top: 0;
}

.main-navigation.toggled .handheld-navigation .shm-close {
  display: none;
}

@media (max-width: 767px) {
  .storefront-hamburger-menu-active.admin-bar .main-navigation {
    padding-top: 0;
  }
}

.main-navigation.toggled .bg-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 767px) {
  .storefront-hamburger-menu-active .main-navigation ul li a {
    border-bottom: 1px solid #b5b6b6;
  }
}

@media (max-width: 767px) {
  .main-navigation ul ul.sub-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu-item-has-children {
    position: relative;
  }
  .menu-item-has-children:after {
    display: inline-block;
    content: '';
    background: url("./images/icon-arrow-bottom.svg") no-repeat center transparent;
    width: 50px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-item-has-children ul.sub-menu {
    margin: 0;
  }
  .menu-item-has-children ul li a:hover {
    color: #11337d;
  }
  .main-navigation.toggled .menu-item-has-children.active:after {
    background: url("./images/icon-arrow-bottom-white.svg") #11337d no-repeat center;
  }
  .main-navigation.toggled .menu-item-has-children.active > a {
    color: #11337d;
    background: rgba(17, 51, 125, 0.3);
  }
  .main-navigation.toggled .menu-item-has-children.active ul.sub-menu {
    background: rgba(17, 51, 125, 0.1);
  }
}

footer.site-footer {
  background: #fff;
  border-top: 3px solid #128043;
  padding: 0;
}

footer.site-footer:before {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #11337d;
}

footer.site-footer a, footer.site-footer p {
  color: #3f3b3b;
}

footer.site-footer a:hover {
  color: #128043;
}

footer .footer-widgets {
  border-bottom: none;
  padding-top: 0;
}

footer .footer-widgets p {
  padding-top: 15px;
  font-size: 12px;
}

footer .site-info {
  padding: 0;
}

footer .textwidget a {
  display: inline-block;
}

footer .footer-widgets.col-4 .block {
  width: 100%;
  text-align: center;
}

footer .footer-widget-4 {
  display: none;
}

@media (min-width: 768px) {
  footer .footer-widgets.col-4 .block {
    width: 45%;
    text-align: left;
  }
  footer .footer-widget-4 {
    display: block;
  }
}

footer .norm_row {
  width: auto !important;
  position: relative !important;
  float: right;
}

.woocommerce-breadcrumb,
.page .entry-header h1.entry-title {
  display: none;
}

@media (min-width: 768px) {
  body.page-template-template-fullwidth .site-content .col-full {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 568px) {
  body.page-template-template-fullwidth .site-content .col-full {
    margin: 0;
  }
}

@media (max-width: 66.49894em) {
  body.page-template-template-fullwidth .site-content .col-full {
    margin: 0;
  }
}

.block-center {
  text-align: center;
  margin: 0 auto;
}

.page-main-title {
  border-top: 3px solid #128043;
  border-bottom: 3px solid #11337d;
  color: #11337d;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .page-main-title {
    font-size: 32px;
    letter-spacing: 6px;
    max-width: 240px;
  }
}

.page-main-subtitle {
  font-size: 15px;
  color: #11337d;
  letter-spacing: 14px;
}

@media (max-width: 767px) {
  .page-main-subtitle {
    letter-spacing: 10px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .full-bg-banner {
    padding: 35% 0 !important;
  }
}

.post-container {
  max-width: 745px;
  margin: 0 auto;
  color: #595757;
  font-size: 15px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .post-container {
    max-width: 310px;
  }
}

.no-padding {
  padding: 0;
}

.no-padding.vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding: 0;
}

.three-column-container {
  max-width: 850px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .three-column-container .wpb_text_column, .three-column-container h3 {
    max-width: 180px;
    margin: 0 auto;
  }
}

.three-column-container > .vc_column_container {
  padding: 0 1% 8%;
}

@media (max-width: 767px) {
  .three-column-container .wpb_single_image {
    margin-bottom: 15px;
  }
}

.three-column-container .wpb_single_image .vc_single_image-wrapper.vc_box_rounded {
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
}

.three-column-container img {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
}

.three-column-container img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.three-column-container p {
  font-size: 13px;
  color: #3f3b3b;
}

@media (max-width: 767px) {
  .three-column-container p {
    font-size: 15px;
  }
}

.three-column-container h3 {
  color: #11337d;
  font-size: 33px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .three-column-container h3 {
    font-size: 25px;
  }
}

.three-columns-hover-container {
  max-width: 890px;
  margin: 0 auto;
}

.three-columns-hover-container .vc_column_container {
  overflow: hidden;
}

@media (max-width: 767px) {
  .three-columns-hover-container .vc_column_container > .vc_column-inner {
    padding: 0;
  }
}

.three-columns-hover-container .wpb_wrapper {
  position: relative;
}

.three-columns-hover-container .wpb_wrapper:hover .wpb_single_image:after {
  bottom: 0;
}

.three-columns-hover-container .wpb_wrapper:hover h3 {
  bottom: 35px;
}

@media (max-width: 767px) {
  .three-columns-hover-container .wpb_wrapper:hover h3 {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.three-columns-hover-container .wpb_wrapper:hover h3:before {
  opacity: 1;
}

@media (max-width: 767px) {
  .three-columns-hover-container .wpb_content_element {
    margin: 0;
  }
}

.three-columns-hover-container .wpb_single_image:after {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: -82%;
  left: 0;
  display: inline-block;
  content: "";
  -webkit-transition: .3s;
          transition: .3s;
  z-index: 0;
}

@media (max-width: 767px) {
  .three-columns-hover-container .wpb_single_image:after {
    bottom: -91%;
  }
}

@media (max-width: 540px) {
  .three-columns-hover-container .wpb_single_image:after {
    bottom: -86%;
  }
}

.three-columns-hover-container .wpb_single_image img {
  display: block;
}

@media (max-width: 767px) {
  .three-columns-hover-container .wpb_single_image img {
    width: 100vw;
  }
}

.three-columns-hover-container h3 {
  color: #11337d;
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 0;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  vertical-align: bottom;
  -webkit-transition: .3s;
          transition: .3s;
}

.three-columns-hover-container h3:before {
  width: 69px;
  height: 69px;
  background: url("./images/icon-checked.svg") no-repeat;
  display: block;
  content: "";
  margin: 0 auto 5px;
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s;
}

.home.page:not(.page-template-template-homepage) .site-header {
  margin-bottom: 0;
}

.home.page:not(.page-template-template-homepage) .wpb_content_element, .home.page:not(.page-template-template-homepage) .hentry, .home.page:not(.page-template-template-homepage) .page-template-template-fullwidth-php .content-area, .home.page:not(.page-template-template-homepage) .content-area, .home.page:not(.page-template-template-homepage) .site-main {
  margin: 0;
}

body:not(.page-template-template-fullwidth) .col-full {
  padding: 2% 0;
}

@media (min-width: 768px) {
  .woocommerce-products-header {
    float: left;
    max-width: 50%;
    width: auto;
  }
}

.woocommerce-products-header h1 {
  display: none;
}

@media (max-width: 767px) {
  .woocommerce-products-header,
  .storefront-sorting {
    max-width: 80%;
    margin: 0 auto;
  }
  .woocommerce-products-header {
    margin-top: 1.5em;
  }
  .storefront-sorting {
    margin-bottom: 1.5em;
  }
}

.widget-area .widget-title {
  border: none;
  color: #11337d;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
  padding: 0 0 0.3em;
}

.widget-area .widget_product_categories ul li {
  padding-left: 0;
}

.widget-area .widget_product_categories ul li:before {
  display: none;
}

.widget-area .widget_product_categories ul .children {
  margin-left: 4%;
}

.widget-area .widget_product_categories ul .children li:before {
  display: inline-block;
  content: '-';
  font-family: inherit;
  margin: 0;
  color: #3f3b3b;
  background: #fff;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.widget-area .widget a:not(.button), .widget-area .widget a {
  color: #3f3b3b;
  text-decoration: none;
  background: #fff;
  position: relative;
  z-index: 1;
  padding-right: 5px;
}

.widget-area .widget a:not(.button):hover, .widget-area .widget a:hover {
  color: #128043;
}

.widget-area .widget li:not(.cat-parent) {
  position: relative;
}

.widget-area .widget li:not(.cat-parent):after {
  display: inline-block;
  content: '';
  border-bottom: 1px solid #3f3b3b;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: -1;
}

.widget-area .widget li:not(.cat-parent) > ul.children {
  border-top: 1px solid #3f3b3b;
}

.widget-area .widget li.cat-parent > ul.children {
  border-top: 1px solid #3f3b3b;
  margin-top: -2px;
  padding-top: 1em;
}

.widget-area .widget li.current-cat > ul.children {
  border-top: 1px solid #128043;
}

.widget-area .widget li.current-cat:after {
  border-bottom: 1px solid #128043;
}

.widget-area .widget li .count {
  background: #fff;
  padding-left: 3px;
}

.widget-area .widget li.current-cat > a, .widget-area .widget li.current-cat > .count {
  color: #128043;
}

.widget-area .widget li.current-cat:before {
  border-color: #128043;
}

p.woocommerce-result-count, .columns-3 > .storefront-sorting {
  display: none;
}

@media (min-width: 768px) {
  .storefront-sorting {
    float: right;
    width: auto;
    max-width: 50%;
  }
  .storefront-sorting .woocommerce-ordering, .storefront-sorting .gridlist-toggle {
    float: left;
  }
}

.storefront-sorting .gridlist-toggle {
  padding: 0 !important;
  clear: none;
}

@media (max-width: 767px) {
  .storefront-sorting .gridlist-toggle {
    text-align: center;
  }
}

.storefront-sorting .gridlist-toggle > a {
  border-radius: 50%;
  border: 1px solid #11337d;
  background: transparent;
  width: 34px;
  height: 34px;
}

.storefront-sorting .gridlist-toggle > a.active, .storefront-sorting .gridlist-toggle > a:hover {
  color: #fff;
  background: #11337d;
}

.storefront-sorting .gridlist-toggle > a#list {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .storefront-sorting .gridlist-toggle > a#list {
    float: left;
    margin-right: 10px;
  }
}

.storefront-sorting .gridlist-toggle > a .dashicons-excerpt-view:before, .storefront-sorting .gridlist-toggle > a .dashicons-exerpt-view:before {
  content: "\f333";
}

.woocommerce-ordering {
  background: url("./images/icon-arrow-bottom.svg") no-repeat 94% center;
  overflow: hidden;
  border: 1px solid #11337d;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 3px;
  width: 100%;
}

@media (min-width: 768px) {
  .woocommerce-ordering {
    width: 148px;
  }
}

.woocommerce-ordering select {
  background: transparent;
  border: none;
  width: 110%;
  color: #11337d;
  font-size: 13px;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .woocommerce-ordering select {
    width: 180px;
  }
}

ul.products li.product .gridlist-buttonwrap {
  margin: 0;
}

@media (max-width: 767px) {
  ul.products li.product img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

ul.products .onsale {
  display: none;
}

ul.products.grid li.product {
  border: 1px solid #b5b6b6;
}

ul.products.grid .woocommerce-loop-product__title {
  color: #595757;
}

ul.products.grid .gridlist-buttonwrap {
  display: none;
}

ul.products.grid li.product {
  position: relative;
}

ul.products.grid li.product a:after {
  top: -100%;
}

ul.products.grid li.product:hover {
  -webkit-transition: .3s;
          transition: .3s;
}

ul.products.grid li.product:hover a:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("./images/icon-product-hover.svg") no-repeat center 30% rgba(8, 47, 128, 0.35);
  top: 0;
  left: 0;
}

ul.products.grid li.product:hover .btn-blue {
  opacity: 0;
}

ul.products.grid li.product .button {
  margin-bottom: 0;
  background: #11337d;
  color: #fff;
  width: 100%;
  padding: 4px;
  font-size: 12px;
  font-weight: normal;
}

ul.products.grid li.product .button:hover {
  opacity: 0.8;
}

ul.products.list li.product {
  border-bottom: 1px solid #b5b6b6;
  padding-bottom: 5%;
  margin-bottom: 4%;
}

ul.products.list li.product .gridlist-buttonwrap {
  margin: 5px 0 0 0;
  float: none;
  width: 100%;
}

@media (min-width: 768px) {
  ul.products.list li.product .gridlist-buttonwrap {
    width: 80%;
  }
}

@media (max-width: 767px) {
  ul.products.list li.product img {
    width: 100% !important;
  }
}

ul.products.list hr {
  display: none;
}

ul.products.list li.product .price {
  display: block;
  width: 100%;
  float: none;
}

ul.products.list li.product .woocommerce-loop-product__title {
  font-size: 24px;
}

ul.products.list li.product a:hover .woocommerce-loop-product__title {
  color: #128043;
}

ul.products.list a.btn-blue {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  ul.products.list a.btn-blue {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  ul.products.list li.product > a {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
  }
}

@media (min-width: 768px) {
  ul.products.list li.product img {
    display: block;
    margin: 0 0 0 0;
    float: none;
    width: 100% !important;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  ul.products.list .product-detail {
    display: inline-block;
    vertical-align: middle;
    width: 56%;
    height: 100%;
    padding-left: 3%;
  }
}

.btn-blue, ul.products li.product .button {
  background: #11337d;
  color: #fff;
  padding: 4px;
  display: block;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

.btn-blue:hover, ul.products li.product .button:hover {
  color: #fff;
  opacity: 0.8;
}

/*# sourceMappingURL=theme-update.css.map */