@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

$white: #fff;
$blue: #11337d;
$green: #128043;
$gray: #3f3b3b;
$gray-text: #595757;
$gray-border: #b5b6b6;
$gray-light: #d4d4d5;
$gray-lighter: #f3f3f3;
$gray-bg: #f0f0f0;
$gray-faq: #dbdcdc;
$font: 'Noto Sans TC', sans-serif;

// body
body{
	font-family: $font;
}
img{
	border-radius: 0;
}
a{
	color: $blue;
	transition: .3s;
	text-decoration: none;
	outline: none;
	&:hover{
		color: $green;
	}
	&.skip-link{
		display: none;
	}
}
button{
	outline: none;
}
h1, h2, .alpha, h2 a{
	font-size: 25px;
	color: $blue;
	font-weight: 400;
}
p{
	font-size: 15px;
	line-height: 25px;
}
label{
	color: $blue;
	font-size: 15px;
}
input[type=text],input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
	background: transparent;
	border: 1px solid $blue;
	box-shadow: none;
	border-radius: 3px;
	padding: 6px;
	width: 100%;
	transition: .3s;
	&:focus{
		background:transparent;
		border-color: $green;
	}
}
input[type="submit"]{
	background: $blue;
	color: $white;
	letter-spacing: 5px;
	padding: 6px 25px;
	font-size: 13px;
	transition: .3s;
	&:hover{
		background: $blue;
		color: $white;
		opacity: 0.8;
	}
}
.hentry .entry-header{
	border-bottom: none;
}
button.alt{
	background: $blue!important;
	border-color: $blue!important;
}
// header: ;
.main-navigation ul li a{
	color: $blue;
	&:hover{
		color: $green;
	}
}
.site-header ul.menu li.current-menu-item > a{
	color: $green;
}

.user-btns-group{
	display: none;
}

// logo
@media (min-width: 768px){
	body:not(.home) .primary-navigation {
		width: 90%;
		margin: 0 auto;
	}
	.main-navigation ul.menu, .main-navigation ul.nav-menu{
		text-align: center;
		display: inline-flex;
    width: 100%;
	}
	.main-navigation ul.menu>li>a,
	.main-navigation ul.nav-menu>li>a,
	.site-header-cart .cart-contents{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.woocommerce-active .site-header .main-navigation{
		width: 100%;
		float: none;
	}
	// dropdown
	.menu-item-has-children{
		&:hover{
			&:before{
				display: block;
				content: '';
				width: 60px;
				height: 25px;
				position: absolute;
				top: 35px;
				left: 0;
				background:url('./images/icon-triangle.svg') no-repeat center;
				z-index: 400;
			}
		}
	}
	.main-navigation ul.menu ul.sub-menu{
		background: transparent;
		box-shadow: 0 0 5px rgba(0,0,0,0.1);
		z-index: 300;
		> li{
			background: $white;
			flex: 1;
		}
	}
	
	.main-navigation ul.nav-menu > li{
		width: 12.5%;
    text-align: center;
	}
	.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
		padding: 1em 0;
		display: block;
    width: 100%;
	}
	.main-navigation ul.nav-menu ul.sub-menu>li{
		> a{
			padding: 1em .8em;
			margin: 0 .6em;
			border-bottom: 1px solid $gray-border;
		}
		&:last-child{
			> a{
				border-bottom: none;
			}
		}
	}
	.main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover>a, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover>a{
		&:hover{
			background:transparent;
			color: $green;
		}
	}

	.main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.nav-menu > li.menu-item-has-children > a:after, .main-navigation ul.nav-menu > li.page_item_has_children > a:after{
		display: none;
	}

	// logo
	.site-header .site-branding{
		width: 62%;
		margin: 0;
	}

	// cart dropdown
	.site-header-cart .widget_shopping_cart{
		// width: 250px;
		display: none!important;
		left: -999px;
	}
	.user-btns-group{
		display: inline-block;
		margin-left: 2%;
	}
	.user-btns-group, .site-search{
		margin-top: 15px;
	}
}

// logo
@media (min-width: 1024px) {
	.site-header .site-branding{
		width: 67%;
	}
}

// cart
.woocommerce-active .site-header .site-header-cart{
	width: auto;
	position: relative;
	@media (max-width: 767px) {
		float: right;
	}
}
.site-header-cart .cart-contents{
	&:after{
		background:url('./images/icon-cart.svg');
		content: '';
		display: inline-block;		
		width: 24px;
		height: 24px;
	}
	.amount{
		display: none;
	}
	.count{
		background: $green;
		color: $white;
		opacity: 1;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		font-size: 10px;
		display: inline-block;
		text-align: center;
		line-height: 16px;
		position: absolute;
		right: -10px;
		top: 10px;
		@media (max-width: 767px) {
			top: -5px;
		}
	}
	@media (max-width: 767px) {
		display: block;
	}
}

.site-header{
	border: none;
	@media (min-width: 768px){
		padding-top: 0;
	}
}
.storefront-hamburger-menu-active .main-navigation .handheld-navigation{
	border: none;
	> ul{
	 	@media (max-width: 767px){
			margin-top: 0;
		}
	}
}
.site-branding{
	padding-bottom: 1.5em;
}

.storefront-primary-navigation{
	margin-top: 1em;
	margin-bottom: -1px;
	@media (min-width: 768px){
		border-bottom: 3px solid $blue;
		box-shadow: 0 -5px 12px rgba(0,0,0,0.1);
	}
}

input[type=search],
input[type=search]:focus,
.site-search .widget_product_search form input[type=search],
.aws-container .aws-search-field{
	background: transparent;
	border: 1px solid $blue;
	box-shadow: none;
	padding: 6px;
	border-radius: 3px;
	&::placeholder{
		color: $white;
	}
}
.woocommerce-active .site-header .site-search{
	@media (min-width: 768px){
		float: left;
		width: 16%;
	}
}

.search-form{
	.search-submit{
		display: none;
	}
	label:before{
		margin-top: 2px;
	}
}

.site-search .widget_product_search form:before,
.aws-container .aws-search-form:before,
.search-form label:before{
	top: 50%;
	transform: translate(0, -50%);
	left: inherit;
	right: .6em;
	background: url('./images/icon-search.svg');
	content: '';
	width: 16px;
	height: 15px;
	display: inline-block;
	position: absolute;
}
.aws-container .aws-search-form,
.search-form label{
	position: relative;
}
.aws-container .aws-search-field{
	border-radius: 3px!important;
	padding: 2px 6px;
	line-height: 22px;
	@media (min-width: 768px) {
		width: 200px;
	}
	&::placeholder{
		color: $blue;
		letter-spacing: 3px;
		font-size: 13px;
	}
	&:after{

	}
}

@media (max-width: 767px) {
	.woocommerce-active .site-branding{
		float: none;
		position: absolute;
		left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 0;
	}
	.site-header {
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		.custom-logo-link img{
			max-width: 100px;
		}
	}
}

.storefront-handheld-footer-bar{
	display: none;
}
button.menu-toggle{
	border: none;
	border-radius: 50%;
	color: $white;
	width: 35px;
	height: 35px;
	padding: 0;
	background: url('./images/icon-nav-mobile.svg') no-repeat center $blue;
	float: left;
	> span{
		display: none;
	}
	&:before, &:after{
		display: none;	
	}
	&:hover{
		background: url('./images/icon-nav-mobile.svg') no-repeat center $blue;
	}
}

// header sidebar
.main-navigation.toggled .handheld-navigation{
	padding-top: 0;
	.shm-close{
		display: none;
	}
}
.storefront-hamburger-menu-active.admin-bar .main-navigation{
	@media (max-width: 767px) {
		padding-top: 0;	
	}
}
// mobile
.main-navigation.toggled .bg-nav{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: inline-block;
	content: '';
	top: 0;
	left: 0;
	z-index: 0;
}
.storefront-hamburger-menu-active .main-navigation ul li a{
	@media (max-width: 767px) {
		border-bottom: 1px solid $gray-border;
	}
}

.main-navigation ul ul.sub-menu{
	@media (max-width: 767px) {
		display: none;
	}
}
// mobile dropdown
@media (max-width: 767px) {
	.menu-item-has-children{
		position: relative;
		&:after{
			display: inline-block;
			content: '';
			background:url('./images/icon-arrow-bottom.svg') no-repeat center transparent;
			width: 50px;
			height: 52px;
			position: absolute;
			right: 0;
	    top: 0;
		}
		ul.sub-menu{
			margin: 0;
		}
		ul li a:hover{
			color: $blue;
		}
	}
	.main-navigation.toggled{
		.menu-item-has-children{
			&.active{
				&:after{
					background: url('./images/icon-arrow-bottom-white.svg') $blue no-repeat center;
				}
				> a{
					color: $blue;
					background: rgba(17,51,125,0.3);
				}
				ul.sub-menu{
					background: rgba(17,51,125,0.1);
				}
			}
		}
	}
}

// footer
footer{
	&.site-footer{
		background: $white;
		border-top: 3px solid $green;
		padding: 0;
		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 3px;
			background: $blue;
		}
		a, p{
			color: $gray;
		}
		a:hover{
			color: $green;
		}
	}
	.footer-widgets{
		border-bottom: none;
		padding-top: 2%;
		p{
			padding-top: 15px;
			font-size: 12px;
		}
	}
	.site-info{
		padding: 0;
	}
	.textwidget{
		a{
			display: inline-block;
		}
	}
	.footer-widgets.col-4 .block{
		width: 100%;
		text-align: center;
	}
	.footer-widget-4{
		display: none;
	}
	@media (min-width: 768px) {
		.footer-widgets.col-4 .block{
			width: 45%;
			text-align: left;
		}
		.footer-widget-4{
			display: block;
		}
	}
	.norm_row{
		width: auto!important;
		position: relative!important;
		float: right;
	}
}


// layout
.woocommerce-breadcrumb,
.page .entry-header h1.entry-title{
	display: none;
}
body.page-template-template-fullwidth .site-content{
	.col-full{
		@media (min-width: 768px){
			max-width: none;
			margin: 0;
			padding: 0;
		}
		@media (max-width: 568px){
			margin: 0;
		}
		@media (max-width: 66.4989378333em){
			margin: 0;
		}
	}
}

// title
.block-center{
	text-align: center;
	margin: 0 auto;
}
.page-main-title{
	border-top: 3px solid $green;
	border-bottom: 3px solid $blue;
	color: $blue;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
	letter-spacing: 10px;
	font-size: 40px;
	font-weight: 400;
	@media (max-width: 767px) {
		font-size: 32px;
		letter-spacing: 6px;
		max-width: 240px;
	}
}
.page-main-subtitle{
	font-size: 15px;
	color: $blue;
	letter-spacing: 14px;
	@media (max-width: 767px) {
		letter-spacing: 10px;
		font-size: 12px;
	}
}

// full banner
.full-bg-banner {
	@media (max-width: 767px) {
		padding: 35% 0!important;
	}
}

// content
.post-container{
	max-width: 745px;
	margin: 0 auto;
	color: $gray-text;
	font-size: 15px;
	letter-spacing: 2px;
	@media (max-width: 767px) {
		max-width: 310px;
	}
}

// about
.no-padding{
	padding: 0;
	&.vc_row-has-fill>.vc_column_container>.vc_column-inner{
		padding: 0;
	}
}
.three-column-container{
	max-width: 850px;
	margin: 0 auto;
	@media (max-width: 767px) {
		.wpb_text_column, h3{
			max-width: 180px;
			margin: 0 auto;
		}
	}

	> .vc_column_container{
		padding: 0 1% 8%;
	}
	.wpb_single_image{
		@media (max-width: 767px) {
    	margin-bottom: 15px;
		}
		.vc_single_image-wrapper.vc_box_rounded{
			width: 190px;
	    height: 190px;
	    overflow: hidden;
	    border-radius: 50%;
		}
	}
	img{
  	transition: transform 0.4s ease;
		&:hover{
			transform: scale(1.1);
		}
	}
	p{
		font-size: 13px;
		color: $gray;
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
	h3{
		color: $blue;
		font-size: 33px;
		letter-spacing: 2px;
		@media (max-width: 767px) {
			font-size: 25px;
		}
	}
}

// hover
.three-columns-hover-container{
	max-width: 890px;
	margin: 0 auto;
	.vc_column_container{
		overflow: hidden;
		@media (max-width: 767px) {
			> .vc_column-inner{
				padding: 0;
			}
		}
	}
	.wpb_wrapper{
		position: relative;
		&:hover{
			.wpb_single_image{
				&:after{
					bottom: 0;
				}
			}
			h3{
				bottom: 35px;
				@media (max-width: 767px) {
					bottom: 50%;
    			transform: translateY(50%);
				}
				&:before{
					opacity: 1;
				}
			}
		}
	}
	.wpb_content_element{
		@media (max-width: 767px) {
			margin: 0;
		}
	}
	.wpb_single_image{
		&:after{
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.8);
			position: absolute;
			bottom: -82%;
			left: 0;
			display: inline-block;
			content: "";
			transition: .3s;
			z-index: 0;
			@media (max-width: 767px) {
				bottom: -91%;
			}
			@media (max-width: 540px) {
				bottom: -86%;
			}
		}
		img{
			display: block;
			@media (max-width: 767px) {
				width: 100vw;
			}
		}
	}
	h3{
		color: $blue;
		font-size: 15px;
		margin: 0;
		position: absolute;
		bottom: 0;
		display: inline-block;
		text-align: center;
		padding: 5px 0;
		width: 100%;
		vertical-align: bottom;
		transition: .3s;
		&:before{
			width: 69px;
			height: 69px;
			background:url('./images/icon-checked.svg') no-repeat;
			display: block;
			content: "";
			margin: 0 auto 5px;
			opacity: 0;
			transition: .3s;
		}
	}
}

// home
.home.page:not(.page-template-template-homepage){
	.site-header{
		margin-bottom: 0;
	}
	.wpb_content_element, .hentry, .page-template-template-fullwidth-php .content-area, .content-area, .site-main{
		margin: 0;
	}
}

// product list page
body:not(.page-template-template-fullwidth) {
	.col-full{
		padding: 2% 0;
	}
	.site-header{
		.col-full{
			padding: 0;
		}
	}
}
.woocommerce-products-header{
	@media (min-width: 768px) {
		float: left;
		max-width: 50%;
		width: auto;
	}
	h1{
		display: none;
	}
}
ul.products li.product{
	.woocommerce-LoopProduct-link h3, span.price{
		display: none!important;
	}
}
body.single p .woocommerce-Price-amount{
	font-size: 14px;
}

.product-price-tickr{
	margin-bottom: 8px;
}

@media (max-width: 767px) {
	.woocommerce-products-header,
	.storefront-sorting{
		max-width: 80%;
		margin: 0 auto;
	}
	.woocommerce-products-header{
		margin-top: 1.5em;
	}
	.storefront-sorting{
		margin-bottom: 1.5em;
	}
}


// sidebar
body.woocommerce-page{
	.widget-area{
		.widget-title{
			border: none;
			color: $blue;
			font-size: 24px;
			font-weight: 400;
			letter-spacing: 5px;
			padding: 0 0 .3em;
		}
		.widget_product_categories ul{
			li{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			.children{
				margin-left: 4%;
				li{
					&:before{
						display: inline-block;
						content: '-';
						font-family: inherit;
	    			margin: 0;
	    			color: $gray;
	    			background: $white;
	    			position: relative;
	    			z-index: 1;
	    			opacity: 1;
					}
				}
			}
		}
		.widget{
			a:not(.button), a{
				color: $gray;
				text-decoration: none;
				background: $white;
				position: relative;
				z-index: 1;
				padding-right: 5px;
				&:hover{
					color: $green;
				}
			}
			li{
				&:not(.cat-parent){
					position: relative;
					&:after{
						display: inline-block;
						content: '';
						border-bottom: 1px solid $gray;
						width: 100%;
						position: absolute;
						bottom: 1px;
						left: 0;
						z-index: -1;
					}
					> ul.children{
						border-top: 1px solid $gray;
					}
				}

				&.cat-parent{
					> ul.children{
						border-top: 1px solid $gray;
						margin-top: -2px;
						padding-top: 1em;
					}
				}
				&.current-cat{
					> ul.children{
						border-top: 1px solid $green;
					}
					&:after{
						border-bottom: 1px solid $green;
					}
				}

				.count{
					background: $white;
					padding-left: 3px;
				}

				&.current-cat{
					> a, > .count{
						color: $green;
					}
					&:before{
						border-color: $green;
					}
				}
			}
		}
	}
}

p.woocommerce-result-count, .columns-3 > .storefront-sorting{
	display: none;
}
.storefront-sorting{
	@media (min-width: 768px) {
		float: right;
		width: auto;
		max-width: 50%;
		.woocommerce-ordering, .gridlist-toggle{
			float: left;
		}
	}
	.gridlist-toggle{
		padding: 0!important;
		clear: none;
		@media (max-width: 767px) {
			text-align: center;
		}
		> a{
			border-radius: 50%;
			border: 1px solid $blue;
			background:transparent;
			width: 34px;
			height: 34px;
			&.active, &:hover{
				color: $white;
				background: $blue;
			}
			&#list{
				@media (min-width: 768px) {
					float: left;
					margin-right: 10px;
				}
				margin: 0 10px;
			}
			.dashicons-excerpt-view:before, .dashicons-exerpt-view:before{
				content: "\f333";
			}
		}
	}
}

.woocommerce-ordering {
	background: url('./images/icon-arrow-bottom.svg') no-repeat 94% center;
	overflow: hidden;
	border: 1px solid $blue;
	padding: 2px 5px;
	margin-top: 5px;
	border-radius: 3px;
	width: 100%;
	@media (min-width: 768px) {
		width: 148px;
	}
	select{
		background: transparent;
		border: none;
		width: 110%;
		color: $blue;
		font-size: 13px;
		letter-spacing: 3px;
		@media (min-width: 768px) {
			width: 180px;
		}
	}
}

ul.products{
	li.product{
		.gridlist-buttonwrap{
			margin: 0;
		}
		.star-rating{
			display: none;
		}

		@media (max-width: 767px) {
			img{
				margin-left: 0;
				margin-right: 0;
				width: 100%;
			}
		}
	}
	.onsale{
		display: none;
	}

	// grid
	&.grid{
		li.product{
			border: 1px solid $gray-border;
		}
		.woocommerce-loop-product__title{
			color: $gray-text;
		}
		// 暫時隱藏 chart 的按鈕
		.gridlist-buttonwrap{
			// display: none;
		}
		
		// hover
		li.product{
			position: relative;
			a:after{
				top: -100%;
			}
			&:hover{
				transition: .3s;
				a.woocommerce-LoopProduct-link:after{
					display: block;
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background: url('./images/icon-product-hover.svg') no-repeat center 30% rgba(8, 47, 128, 0.35);
					top: 0;
					left: 0;
				}
				.btn-blue{
					opacity: 0;
				}
			}
			.woocommerce-product-details__short-description{
				display: none;
			}
			.button{
				margin-bottom: 0;
				background: $blue;
				color: $white;
				width: 100%;
				padding: 4px;
				font-size: 12px;
				font-weight: normal;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	
	// list
	&.list{
		li.product{
			border-bottom: 1px solid $gray-border;
			padding-bottom: 5%;
			margin-bottom: 4%;
			.gridlist-buttonwrap{
				margin: 5px 0 0 0;
				float: none;
				width: 100%;
				@media (min-width: 768px) {
					width: 80%;
				}
			}
			@media (max-width: 767px) {
				img{
					width: 100%!important;
				}
			}
		}
		hr{
			display: none;
		}
		li.product{
			.price{
				display: block;
				width: 100%;
				float: none;
			}
			.woocommerce-loop-product__title{
				font-size: 24px;
			}
			a:hover{
				.woocommerce-loop-product__title{
					color: $green;
				}
			}
		}
		a.btn-blue{
			text-align: center;
			width: 100%;
		  @media (min-width: 768px) {
				max-width: 80%;
			}
		}
		@media (min-width: 768px) {
			li.product {
				> a{
		    	@media (min-width: 768px) {
		    		display: inline-block;
						vertical-align: middle;
		    		width: 40%;
		    	}
				}
				img{
					display: block;
					margin: 0 0 0 0;
					float: none;
					width: 100%!important;
				}
			}
			.product-detail{
		    @media (min-width: 768px) {
		    	display: inline-block;
					vertical-align: middle;
					width: 56%;
			    height: 100%;
			    padding-left: 3%;
		    }
			}
		}
	}	
}
.btn-blue, ul.products li.product .button{
	background: $blue;
	color: $white;
	padding: 4px;
	display: block;
	font-size: 12px;
	text-align: center;
	font-weight: normal;

	&:hover{
		color: $white;
		opacity: 0.8;
	}
}

// 健康新知
.left-sidebar{
	.widget-area .widget a:not(.button){
		text-decoration: none;
	}
	.widget_recent_entries ul li,
	.widget_pages ul li,
	.widget_categories ul li{
		padding: 0;
		&:before{
			display: none;
		}
	}
	#page{
		&.healthy{
			@media (min-width: 768px) {
				.widget-area{
					float: right;
					margin-left: 4.347826087%;
					margin-right: 0;
				}
				.content-area{
					float: left;
				}
			}

			.widget-title{
				color: $blue;
				font-size: 16px;
				letter-spacing: 3px;
				border: none;
				font-weight: 400;
				padding-bottom: 5px;
				&:after{
					display: block;
					content: '';
					width: 25px;
					height: 3px;
					background: $gray-light;
					margin-top: 3px;
				}
			}

			.post-date, .wpp-date{
				color: $blue;
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				font-size: 15px;
				border: 1px solid $blue;
				text-align: center;
				margin-right: 5px;
				line-height: 1.2;
			}
			
			.popular-posts, .widget_recent_entries{
				li{
					text-align: left;
				}
				a{
					color: $blue;
					margin-top: 5px;
					display: block;
					float: right;
					margin-top: 10px;
					width: calc(100% - 47px);;
					@media (min-width: 768px) {
						height: 18px;
						overflow: hidden;
					}
				}
			}

			.widget-area ul li{
				clear: both;
				overflow: hidden;
				margin-bottom: .6em;
				padding-bottom: .6em;
				border-bottom: 1px solid $gray-border;
			}

			.widget_categories{
				a{
					font-size: 16px;
					color: $blue;
					padding: 6px 0;
					display: inline-block;
				}
				.cat-item{
					color: $blue;
				}
			}

		}
	}
}


.vc_gitem-zone-a .vc_gitem-row-position-top,
.vc_gitem-zone-a .vc_gitem-row-position-middle,
.vc_gitem-zone-b .vc_gitem-row-position-middle,
.vc_gitem-zone-a .vc_gitem-row-position-bottom,
.vc_gitem-zone-b .vc_gitem-row-position-bottom{
	position: relative;
	top: 0;
	transform: none;
}
.vc-gitem-zone-height-mode-auto:before{
	padding: 0;
}

// 健康須知 post
.healthy{
	.vc_gitem-post-category-name,
	.vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item{
		&:hover{
			background-color: transparent!important;
		}
		a{
			color: $gray-text;
			font-size: 12px;
		}
	}
	.vc_gitem-post-data-source-post_title{
		margin: 0;
		h2{
			color: $blue;
			font-size: 25px;
			font-weight: 400;
			&:after{
				display: block;
				content: '';
				height: 3px;
				width: 25px;
				background: $gray-light;
				margin: 5px auto 0;
			}
		}
	}
}

.post-date-author{
	text-align: center;
	> div{
		display: inline-block;
		font-size: 12px;
	}
}

.vc_gitem-post-data-source-post_excerpt{
	font-size: 15px;
	color: $gray;
}

.vc_grid-filter{
	margin-bottom: 10px;
}
.vc_gitem_row .vc_gitem-col{
	padding: 3px;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern{
	background: $blue;
	color: $white;
	font-weight: 400;
	border-radius: 0;
	padding: 8px 12px;
	letter-spacing: 5px;
	border: none;
	&:hover{
		background: $blue;
		color: $white;
		opacity: 0.8;
	}
}

.vc_grid.vc_row .vc_grid-item .wpb_content_element{
	margin-bottom: 5px;
}
.post-bottom-container{
	text-align: left;
	.vc_grid-filter{
		margin-bottom: 5px;
	}
}
@media (max-width: 768px){
	.vc_responsive .vc_grid-filter {
		display: block!important;
	}
}

body.post-template-default,
body.single{
	&:not(.single-product){
		&.left-sidebar{
			.widget-area{
				display: none;
			}
			.content-area{
				float: none;
				width: 100%;
			}
		}
	}
	
	.hentry .entry-header span.posted-on{
		color: $gray-text;
		a{
			color: $gray-text;
			text-decoration: none;
		}
	}

	.hentry .entry-header{
		margin-bottom: 0;
		border-bottom: none;
	}
	.hentry.type-post .entry-meta{
		display: none;
	}
	.hentry.type-post .entry-content{
		float: none;
		width: 100%;
	}

	h1, h2.product-subtitle{
		color: $blue;
		font-size: 20px;
		font-weight: 400;
	}
	h2.product-subtitle{
		font-size: 13px;
	}
	.hentry.type-post .entry-content, .entry-content{
		background: $gray-bg;
		padding: 2em;
	}
	&.single-product{
		.hentry.type-post .entry-content, .entry-content{
			padding: 2em 1em;
		}
	}
	.hentry .wp-post-image{
		margin-left: 0;
		margin-right: 0;
	}

	p{
		color: $gray-text;
		font-size: 15px;
	}
}

.site-main nav.navigation, .site-main nav.navigation , .site-main nav.navigation {
	text-align: center;
	.nav-next, .nav-previous, .nav-next{
		float: none;
		width: auto;
		display: inline-block;
		margin: 0 5px;
		a{
			background: $blue;
			color: $white;
			border-radius: 0;
			font-size: 13px;
			letter-spacing: 3px;
			&:before,
			&:after{
				display: none;
			}
			&:hover{
				transform: none;
			}
		}
	}
}

.left-sidebar .no-sidebar-container{
	&.content-area{
		float: none;
		width: 100%;
	}
}

// faq
.left-title-group{
	max-width: 70%;
	h1, h2{
		letter-spacing: 5px;
		margin-bottom: 6px;
		font-family: "Source Sans Pro",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif!important;
		font-weight: 400;
	}
	h1{
		font-size: 44px;
	}
	h2{
		font-size: 25px;
	}
}
.container,
.left-sidebar .content-area.container{
	padding-left: 1.41575em;
	padding-right: 1.41575em;
	float: none;
	@media (min-width: 768px){
		max-width: 66.4989378333em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 2.617924em;
		box-sizing: content-box;
		float: none;
	}
}

// faq tab
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel{
	.vc_tta-panel-heading{
		background-color: $gray-faq!important;
		border: none;
		position: relative;
		border-radius: 0!important;
	}
	h4, a{
		color: $blue!important;
		line-height: 1.5;
	}
	.vc_active .vc_tta-panel-heading{
		h4, a{
			color: $blue!important;
		}
	}
	.vc_tta-panel-body{
		background-color: $gray-lighter!important;
		border: none!important;
		padding: 4% 6%!important;
		border-radius: 0!important;
		p{
			font-size: 15px;
			color: $gray-text;
		}
	}
}

.page-template{
	.vc_tta.vc_tta-accordion {
		// active
		.vc_active{
			.vc_tta-controls-icon-position-left .vc_tta-controls-icon{
				&.vc_tta-controls-icon-plus{
					&::before{
						transform: rotate(180deg);
						margin-top: -12px;
					}
				}
			}
		}

		.vc_tta-controls-icon-position-left {
			// normal
			.vc_tta-controls-icon{
				left: inherit;
				right: 0;
				width: 72px;
		    height: 100%;
		    background:rgba(17,51,125,0.3);
				&.vc_tta-controls-icon-plus{
					&::before{
						background:url('./images/icon-arrow-bottom-white.svg') no-repeat center;
						width: 25px;
						height: 25px;
						content: '';
						background-size: cover;
						border: none;
						margin-left: 23px;
					}
					&::after{
						display: none;
						border: none;
					}
				}
			}
			&.vc_tta-panel-title>a{
				padding: 25px 75px 25px 25px;
			}
		}
	}
}

// 最新活動
.title-post .vc_custom_heading a{
	color: $blue;
	font-size: 25px;
	font-weight: 400;
}
.post-bottom-section,
body.search-results .entry-content{
	background: $gray-bg;
	padding: 20px;
	.vc_gitem-row-position-top{
		position: relative;
	}
	@media (min-width: 768px) {
		.vc_gitem-col{
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.btn-post{
		position: absolute;
		bottom: 20px;
	}
	.post-btn-group{
		position: absolute;
    bottom: -10px;
    right: 15px;
	}
}

.top-post-data{
	.wpb_content_element, .vc_gitem-post-data{
		display: inline-block;
		color: $gray-text;
		margin: 0!important;
		p{
			margin: 0;
			font-size: 12px;
		}
	}
}

.news-top-section{
	color: $blue;
	text-align: right;
	.wpb_content_element{
		display: inline-block;
		margin: 0;
		&:first-child{
			margin-right: 10px;
		}
	}
}

// home header
body.home{
	footer, .site-header-cart{
		display: none;
	}
	@media (min-width: 768px) {
		.main-navigation ul.menu>li:first-child, .main-navigation ul.nav-menu>li:first-child {
			margin-left: 0;
		}
		header{
			position: absolute;
			width: 100%;
			background: transparent;
		}
		.rev_slider.fullwidthabanner{
			padding-top: 159px;
		}
		&.woocommerce-active .site-header .site-search{
			display: none;
	    position: absolute;
	    left: 17%;
	    width: 20%;
	    top: auto;
	    margin: 0;
		}
	}
	@media (max-width: 991px) {
		&.woocommerce-active .site-header .site-search{
	    left: 14%;
		}
	}
	@media (max-width: 767px) {
		&.woocommerce-active .site-header .site-search{
			display: none;
		}
	}
	.btn-search{
		display: none;
	}
}
@media (min-width: 768px) {
	.site-header.header-home{
		padding: 0;
		.header-top{
			background: $blue;
			color: $white;
			text-align: right;
			margin-bottom: 10px;
			a{
				color: $white;
				font-size: 13px;
			}
			.user-btns-group{
				margin-top: 4px;
				margin-bottom: 4px;
			}
		}
		.site-branding, .storefront-primary-navigation{
			display: inline-block;
			float: none;
			vertical-align: middle;
		}
		.site-branding{
			width: 14%;
			float: left;
		}
		.storefront-primary-navigation{
			width: 78%;
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: none;
		}

		.btn-search{
			display: inline-block;
	    height: 85px;
	    width: 2%;
	    background:transparent;
			vertical-align: middle;
			background: url('./images/icon-search-blue.svg') no-repeat center;
		}
	}
}

// product 
ul.wc-tabs{
	display: none;
}


@media (min-width: 768px){
	.woocommerce-tabs .panel {
		width: 100%;
		background: transparent;
	}
}

body.single .entry-content{
	background: transparent;
}

.single-product {
	.product_meta{
		display: none;
	}
	.btn-blue{
		max-width: 210px;
	}
	div.product .woocommerce-tabs{
		padding-top: 0;
	}
	.entry-content {
		padding: 0 1em;
	}
}

.woocommerce-Tabs-panel{
	> h2{
		display: none;
	}
}

.product-box-section{
	p{
		font-size: 15px;
		color: $gray;
	}
	.vc_column-inner {
		padding: 0;
	}
}
.product-cate-title{
	background: $green;
	color: $white;
	display: inline-block;
	font-size: 15px;
	letter-spacing: 5px;
	padding: 5px 15px;
	margin: 0 0 15px;
	font-family: $font!important;
	min-width: 120px;
	text-align: center!important;
}

// contact
.wpcf7-form{
	margin: 0 auto;
}
.contact-form-container{
	@media (min-width: 768px) {
		max-width: 320px;
	}
	.center-container{
		text-align: center;
	}
}

// search result
body.search-results{
	.hentry .entry-header{
		margin-bottom: 0;
	}
	.entry-content{
		.wp-post-image, p{
			display: inline-block;
			width: 50%;
			vertical-align: middle;
		}
		.wp-post-image{
			margin: 0 5% 0 0;
			width: 45%;
		}
	}
}
.single-product div.product p.price{
	margin: 6px 0;
}

// 暫時隱藏
// .onsale, .wc-points-rewards-product-message, p.price, .cart{
// 	display: none;
// }